.bluebg.container-fluid
  .row.nopadding
    .col-xs-12.redbg.text-center
      %h2 Quora Slimmer Better
    .col-xs-12.bluebg.tex-center.center-block
      %h2 &nbsp;
      %h2.text-center Get started:
      %button.center-block.text-center.btn.btn-default= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"

